
<!--<header>
    <input type="text" placeholder="search">
</header>
-->

<ul class="users">
    <ng-container *ngIf="asyncChats | async as chatKeys">
        <li *ngFor="let key of chatKeys" (click)="loadConvo(chats.get(key))"
            class="person" [ngClass]="{'active-user': currentConvo && currentConvo.uuid === chats.get(key).uuid}">
            <div class="user">
                <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-circle-512.png">
            </div>
            <p class="name-time">
                <span class="name">{{ chats.get(key).name }}</span>
                <span class="time">15/02/2019</span>
            </p>
        </li>
    </ng-container>
</ul>
